.icon-drupal { background-image: url('png/drupal.png'); background-repeat: no-repeat; }

.icon-facebook-2 { background-image: url('png/facebook-2.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-facebookbox { background-image: url('png/facebookbox.png'); background-repeat: no-repeat; }

.icon-flickr { background-image: url('png/flickr.png'); background-repeat: no-repeat; }

.icon-flickr9 { background-image: url('png/flickr9.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png/google.png'); background-repeat: no-repeat; }

.icon-lastfm4 { background-image: url('png/lastfm4.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-linkedin11 { background-image: url('png/linkedin11.png'); background-repeat: no-repeat; }

.icon-linkedin12 { background-image: url('png/linkedin12.png'); background-repeat: no-repeat; }

.icon-linkedinbox { background-image: url('png/linkedinbox.png'); background-repeat: no-repeat; }

.icon-tumblr { background-image: url('png/tumblr.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-twitterbird { background-image: url('png/twitterbird.png'); background-repeat: no-repeat; }

.icon-vimeo { background-image: url('png/vimeo.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

.icon-youtube2 { background-image: url('png/youtube2.png'); background-repeat: no-repeat; }

.icon-youtubebox { background-image: url('png/youtubebox.png'); background-repeat: no-repeat; }

