/**
 * @file base.scss
 *   Defaults. They are almost exclusively single element selectors but it
 *   could include attribute selectors, pseudo-class selectors, helper classes,
 *   child selectors or sibling selectors. Essentially, a base style says that
 *   wherever this element is on the page, it should look like this.
 */

html, 
body {
  height: 100%;
}

.krumo-root {
  * {
    color:#000;
  }
}