@charset 'UTF-8';

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

//foundation icons
@import "foundation-icons";

// These are defined in '_variables.scss'
// but its easier to manage them here. When I find other useful settings
// I plan on also moving those into this file

//breakpoints
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

//colors
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Other Arbitrary Values (custom)

$spacing: 15px;
$radius: 5px;
$footer-height:180px;
$header-height:180px;


// Custom Theme Imports
@import 'component';
@import 'layout';
@import 'modifiers';
