/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
 
// Make sure the charset is set appropriately
@charset "UTF-8";

// These are defined in '_foundation-variables.scss'
// but its easier to manage them here. When I find other useful settings
// I plan on also moving those into this file

//breakpoints
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

//colors
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Other Arbitrary Values (custom)
$spacing: 15px;
$radius: 5px;
$footer-height:180px;
$header-height:180px;

// Foundation imports
// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

//foundation icons
@import "foundation-icons";

// Custom Theme Imports
@import 'component';
@import 'layout';
@import 'modifiers';

